# Ignore node_modules directory
node_modules/

# Ignore build artifacts
build/
dist/

# Ignore IDE and editor files
.vscode/
.idea/
*.iml

# Ignore log files
*.log

# Ignore environment-specific files
config.env
.env.local
.env.*.local
.env.test
.env.production



# Ignore yarn.lock for Yarn
yarn.lock